USE [master]
GO
/****** Object:  Database [iti_examination_system]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE DATABASE [iti_examination_system]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'iti_examination_system', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER02\MSSQL\DATA\iti_examination_system.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'FILEDB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER02\MSSQL\DATA\MY_FILE_IN_FG1.ndf' , SIZE = 2048KB , MAXSIZE = 204800KB , FILEGROWTH = 4096KB ), 
 FILEGROUP [FG1] 
( NAME = N'FILEDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER02\MSSQL\DATA\MY_FILE_IN_FG.ndf' , SIZE = 2048KB , MAXSIZE = 204800KB , FILEGROWTH = 4096KB )
 LOG ON 
( NAME = N'iti_examination_system_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER02\MSSQL\DATA\iti_examination_system_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [iti_examination_system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [iti_examination_system]
GO
/****** Object:  User [TrainingMgr1]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE USER [TrainingMgr1] FOR LOGIN [TrainingMgrLogin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Student3]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE USER [Student3] FOR LOGIN [Student3Login] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Student2]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE USER [Student2] FOR LOGIN [Student2Login] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Student1]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE USER [Student1] FOR LOGIN [Student1Login] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Instructor2]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE USER [Instructor2] FOR LOGIN [Instructor2Login] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Instructor1]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE USER [Instructor1] FOR LOGIN [Instructor1Login] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Admin1]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE USER [Admin1] FOR LOGIN [AdminLogin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [TrainingMgrRole]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE ROLE [TrainingMgrRole]
GO
/****** Object:  DatabaseRole [StudentRole]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE ROLE [StudentRole]
GO
/****** Object:  DatabaseRole [InstructorRole]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE ROLE [InstructorRole]
GO
/****** Object:  DatabaseRole [AdminRole]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE ROLE [AdminRole]
GO
ALTER ROLE [TrainingMgrRole] ADD MEMBER [TrainingMgr1]
GO
ALTER ROLE [StudentRole] ADD MEMBER [Student3]
GO
ALTER ROLE [StudentRole] ADD MEMBER [Student2]
GO
ALTER ROLE [StudentRole] ADD MEMBER [Student1]
GO
ALTER ROLE [InstructorRole] ADD MEMBER [Instructor2]
GO
ALTER ROLE [InstructorRole] ADD MEMBER [Instructor1]
GO
ALTER ROLE [AdminRole] ADD MEMBER [Admin1]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcAutoGrade]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   function [dbo].[fn_CalcAutoGrade]
	(@EID int, @QID int, @StudentAnswer Varchar(100))
returns int
as
begin
	----declare variables
	Declare @QType Char(5), @Correct Varchar(100), @Deg int
	---Assign Variables
	select @QType =q.Type, @Correct =q.CorrectAns
	from Question q where q.QID=@QID

	select @Deg =EQ.QDegree
	from Exam_Question EQ where EQ.EID =@EID and EQ.QID= @QID
	--- Logic loop
	--1- QUestion not found or not attrached to exam
	if @QType is null or @Deg is null
		Return null;
	if LOWER(TRIM(@QType)) ='text'
		return null;
	return case when @StudentAnswer= @Correct then isnull(@deg,0) else 0 end;
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ExamTotalDegree]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [dbo].[fn_ExamTotalDegree] 
	(@EID int)
returns int
as
begin
	Declare @total int
	select @total = sum(isnull(QDegree,0))
	from Exam_Question where EID = @EID

	return isnull(@total,0);
end
GO
/****** Object:  UserDefinedFunction [dbo].[normalizeText]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [dbo].[normalizeText] (@text nvarchar(max))
returns nvarchar(max)
as
begin
    set @text = lower(@text)
    set @text = ltrim(rtrim(@text))
    set @text = replace(@text, '.','')
    set @text = replace(@text, ',','')
    set @text = replace(@text, '?','')
    return @text

end
GO
/****** Object:  UserDefinedFunction [dbo].[Text_Similarity]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [dbo].[Text_Similarity] (@CorrectAns nvarchar(max), @StudentAns nvarchar(max))
returns decimal (5,2) --5 digits, 2 after the decimal
as
begin
    if @CorrectAns is null or @StudentAns is null
        return 0

    set @CorrectAns = dbo.normalizeText(@CorrectAns)
    set @StudentAns = dbo.normalizeText(@StudentAns)

    declare @LenCorrect int = len(@CorrectAns)
    declare @LenStudent int = len(@StudentAns)
    if @LenCorrect =0 or @LenStudent=0
        return 0

    --matches
    if @CorrectAns=@StudentAns
        return 100
    if @CorrectAns like '%'+@StudentAns+'%' --correct part of student, student more
        return 85
    if @StudentAns like '%'+@CorrectAns+'%' --student part of correct, correct more
        return 75
    if DIFFERENCE(@StudentAns, @CorrectAns) >=3 --phonetic similarity
        return 60
    if DIFFERENCE(@StudentAns, @CorrectAns) =2
        return 20
    
    return 0

end
GO
/****** Object:  Table [dbo].[Question]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QID] [int] IDENTITY(1,1) NOT NULL,
	[CID] [int] NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[CorrectAns] [varchar](50) NOT NULL,
	[Type] [char](5) NOT NULL,
	[Choice1] [nvarchar](100) NULL,
	[Choice2] [nvarchar](100) NULL,
	[Choice3] [nvarchar](100) NULL,
	[Choice4] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[QID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Question]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Question](
	[QID] [int] NOT NULL,
	[EID] [int] NOT NULL,
	[QDegree] [int] NULL,
 CONSTRAINT [PK_ExamQuestion] PRIMARY KEY CLUSTERED 
(
	[EID] ASC,
	[QID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ExamQuestions]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[vw_ExamQuestions]
as
select EQ.EID, EQ.QID, Q.CID, q.[Type],q.QuestionText,q.Choice1, q.Choice2, q.Choice3,q.Choice4,
eq.QDegree
from Exam_Question EQ join Question Q on q.QID =EQ.QID
GO
/****** Object:  Table [dbo].[Student]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[SName] [varchar](100) NOT NULL,
	[SAddress] [nvarchar](255) NULL,
	[SAge] [int] NULL,
	[SEmail] [nvarchar](100) NULL,
	[SPhone] [varchar](11) NULL,
	[IntakeID] [int] NOT NULL,
	[TID] [int] NULL,
	[BID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Student_Email] UNIQUE NONCLUSTERED 
(
	[SEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[EID] [int] NOT NULL,
	[QID] [int] NOT NULL,
	[SID] [int] NOT NULL,
	[StudentAns] [varchar](max) NULL,
	[QGrade] [int] NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[SID] ASC,
	[EID] ASC,
	[QID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG1]
) ON [FG1] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StudentExamAnswer]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[vw_StudentExamAnswer]
as
select a.SID, s.SName, a.EID,a.QID,q.Type,q.QuestionText,eq.QDegree as MaxDegree, a.StudentAns,
a.QGrade,dbo.fn_CalcAutoGrade(a.EID, a.QID,a.StudentAns)as AutoCalcGrade
from Answer a join Student s on s.SID = a.SID
join Question q on q.QID =a.QID
join Exam_Question eq on eq.EID = a.EID and eq.QID = a.QID
GO
/****** Object:  Table [dbo].[student_exam]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_exam](
	[SID] [int] NOT NULL,
	[EID] [int] NOT NULL,
	[ExamGrade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SID] ASC,
	[EID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[CName] [nvarchar](100) NOT NULL,
	[MaxDegree] [int] NULL,
	[MinDegree] [int] NULL,
	[Description] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[IID] [int] IDENTITY(1,1) NOT NULL,
	[IName] [varchar](100) NOT NULL,
	[IAddress] [nvarchar](255) NULL,
	[IEmail] [nvarchar](100) NULL,
	[ISalary] [int] NOT NULL,
	[SPhone] [varchar](11) NULL,
	[sage] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_instructor_Email] UNIQUE NONCLUSTERED 
(
	[IEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[EID] [int] IDENTITY(1,1) NOT NULL,
	[CID] [int] NOT NULL,
	[IID] [int] NOT NULL,
	[IntakeID] [int] NOT NULL,
	[ExamYear] [int] NULL,
	[Type] [varchar](20) NULL,
	[STime] [time](7) NOT NULL,
	[ETime] [time](7) NOT NULL,
	[TotalDegree] [int] NULL,
	[TID] [int] NULL,
	[BID] [int] NULL,
	[allowoptions] [varchar](50) NULL,
	[ExamDate] [date] NULL,
	[TotalTimeMin]  AS (datediff(minute,[STime],[ETime])),
PRIMARY KEY CLUSTERED 
(
	[EID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StudentExamResult]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[vw_StudentExamResult]
as
select se.SID, s.SName, c.CID, c.CName, e.IID, i.IName, e.ExamDate, e.STime, e.ETime, e.TotalDegree,
se.ExamGrade
from student_exam se join Student s on s.SID=se.SID
	join exam e on e.EID = se.EID
	join Course c on c.CID=e.CID
	join Instructor i on i.IID=e.IID
GO
/****** Object:  Table [dbo].[Student_Course]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Course](
	[SID] [int] NOT NULL,
	[CID] [int] NOT NULL,
	[Grade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SID] ASC,
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StudentCourseFinalResult]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[vw_StudentCourseFinalResult]
as
select SC.SID, s.SName,sc.CID, c.CName,sc.Grade
from Student_Course sc join Student s on sc.SID = s.SID
	join Course c on c.CID =sc.CID
GO
/****** Object:  UserDefinedFunction [dbo].[ReviewTextQuestions]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [dbo].[ReviewTextQuestions] (@Examid int)
returns table
as
return(
    select q.QuestionText as Question, q.qid as QuestionID, q.CorrectAns as CorrectAnswer,
        a.StudentAns as StudentAnswer, eq.Qdegree as QuestionFullDegree,
        dbo.Text_Similarity(q.CorrectAns, a.StudentAns) as EvaluatedPercentage,
        case
            when dbo.Text_Similarity(q.CorrectAns, a.StudentAns) > 70 then 'Valid'
            when dbo.Text_Similarity(q.CorrectAns, a.StudentAns) > 50 then 'Paritally Valid'
            else 'InValid'
        end as Evaluation
    

    from Question q, Answer a, Exam_Question eq
    where q.qid = a.qid and a.qid = eq.qid and a.eid = eq.eid and eq.eid = @Examid
    and lower(trim(q.type))='text' and a.QGrade is null
)
GO
/****** Object:  View [dbo].[vw_allStudents]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[vw_allStudents]
as
select * from student
GO
/****** Object:  View [dbo].[vw_allCourses]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[vw_allCourses]
as
select * from Course
GO
/****** Object:  View [dbo].[vw_allInstructors]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[vw_allInstructors]
as
select * from Instructor
GO
/****** Object:  View [dbo].[vw_allQuestions]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[vw_allQuestions]
as
select * from Question
GO
/****** Object:  View [dbo].[vw_allExams]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[vw_allExams]
as
select * from Exam
GO
/****** Object:  View [dbo].[vw_QuestionPool]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_QuestionPool]
AS
SELECT
    q.QID, q.CID, c.CName,q.[Type],q.QuestionText, q.Choice1,q.Choice2, q.Choice3, q.Choice4,
    q.CorrectAns
FROM dbo.Question q
JOIN dbo.Course  c ON c.CID = q.CID;
GO
/****** Object:  Table [dbo].[Track]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[DID] [int] NOT NULL,
	[TName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[BID] [int] IDENTITY(1,1) NOT NULL,
	[BName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Intake]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intake](
	[IntakeID] [int] IDENTITY(1,1) NOT NULL,
	[InName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IntakeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Exam_Header]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[vw_Exam_Header]
as
select
	e.EID, e.CID,c.CName,e.IID,i.IName,e.IntakeID,k.InName,e.bid,b.BName,e.TID,t.TName,e.ExamDate,e.STime
	,e.ETime,e.[type] as ExamType,e.TotalDegree,e.allowoptions
from Exam e join Course c on c.CID =E.CID join Instructor i on i.IID =e.IID
	join Intake k on k.IntakeID = e.IntakeID left join Branch b on b.BID = e.BID
	left join track t on t.TID = e.TID
GO
/****** Object:  Table [dbo].[Department]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DID] [int] IDENTITY(1,1) NOT NULL,
	[DName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor_Course]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor_Course](
	[CID] [int] NOT NULL,
	[IID] [int] NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_Instructor_Course_Composite] PRIMARY KEY CLUSTERED 
(
	[CID] ASC,
	[IID] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Intake_Branch_Track]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intake_Branch_Track](
	[IntakeID] [int] NOT NULL,
	[BID] [int] NOT NULL,
	[TID] [int] NOT NULL,
 CONSTRAINT [PK_IntakeBranchTrack] PRIMARY KEY CLUSTERED 
(
	[IntakeID] ASC,
	[BID] ASC,
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Track_Course]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track_Course](
	[CID] [int] NOT NULL,
	[TID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CID] ASC,
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [in1_exam_course]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE NONCLUSTERED INDEX [in1_exam_course] ON [dbo].[Exam]
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [in2_exam_instructor]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE NONCLUSTERED INDEX [in2_exam_instructor] ON [dbo].[Exam]
(
	[IID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [in3_question_course]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE NONCLUSTERED INDEX [in3_question_course] ON [dbo].[Question]
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [in4_student_branch]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE NONCLUSTERED INDEX [in4_student_branch] ON [dbo].[Student]
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [in5_student_track]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE NONCLUSTERED INDEX [in5_student_track] ON [dbo].[Student]
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [in6_student_intake]    Script Date: 22/02/2026 01:36:13 PM ******/
CREATE NONCLUSTERED INDEX [in6_student_intake] ON [dbo].[Student]
(
	[IntakeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Exam] FOREIGN KEY([EID])
REFERENCES [dbo].[Exam] ([EID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Exam]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([QID])
REFERENCES [dbo].[Question] ([QID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Student] FOREIGN KEY([SID])
REFERENCES [dbo].[Student] ([SID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Student]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_exam_Branch] FOREIGN KEY([BID])
REFERENCES [dbo].[Branch] ([BID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_exam_Branch]
GO
ALTER TABLE [dbo].[Exam]  WITH NOCHECK ADD  CONSTRAINT [FK_Exam_Course] FOREIGN KEY([CID])
REFERENCES [dbo].[Course] ([CID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Course]
GO
ALTER TABLE [dbo].[Exam]  WITH NOCHECK ADD  CONSTRAINT [FK_Exam_Instructor] FOREIGN KEY([IID])
REFERENCES [dbo].[Instructor] ([IID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Instructor]
GO
ALTER TABLE [dbo].[Exam]  WITH NOCHECK ADD  CONSTRAINT [FK_Exam_Intake] FOREIGN KEY([IntakeID])
REFERENCES [dbo].[Intake] ([IntakeID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Intake]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_exam_Track] FOREIGN KEY([TID])
REFERENCES [dbo].[Track] ([TID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_exam_Track]
GO
ALTER TABLE [dbo].[Exam_Question]  WITH CHECK ADD  CONSTRAINT [FK_ExamQuestion_Exam] FOREIGN KEY([EID])
REFERENCES [dbo].[Exam] ([EID])
GO
ALTER TABLE [dbo].[Exam_Question] CHECK CONSTRAINT [FK_ExamQuestion_Exam]
GO
ALTER TABLE [dbo].[Exam_Question]  WITH CHECK ADD  CONSTRAINT [FK_ExamQuestion_Question] FOREIGN KEY([QID])
REFERENCES [dbo].[Question] ([QID])
GO
ALTER TABLE [dbo].[Exam_Question] CHECK CONSTRAINT [FK_ExamQuestion_Question]
GO
ALTER TABLE [dbo].[Instructor_Course]  WITH CHECK ADD FOREIGN KEY([CID])
REFERENCES [dbo].[Course] ([CID])
GO
ALTER TABLE [dbo].[Instructor_Course]  WITH CHECK ADD FOREIGN KEY([IID])
REFERENCES [dbo].[Instructor] ([IID])
GO
ALTER TABLE [dbo].[Intake_Branch_Track]  WITH CHECK ADD  CONSTRAINT [FK_IBT_Branch] FOREIGN KEY([BID])
REFERENCES [dbo].[Branch] ([BID])
GO
ALTER TABLE [dbo].[Intake_Branch_Track] CHECK CONSTRAINT [FK_IBT_Branch]
GO
ALTER TABLE [dbo].[Intake_Branch_Track]  WITH CHECK ADD  CONSTRAINT [FK_IBT_Intake] FOREIGN KEY([IntakeID])
REFERENCES [dbo].[Intake] ([IntakeID])
GO
ALTER TABLE [dbo].[Intake_Branch_Track] CHECK CONSTRAINT [FK_IBT_Intake]
GO
ALTER TABLE [dbo].[Intake_Branch_Track]  WITH CHECK ADD  CONSTRAINT [FK_IBT_Track] FOREIGN KEY([TID])
REFERENCES [dbo].[Track] ([TID])
GO
ALTER TABLE [dbo].[Intake_Branch_Track] CHECK CONSTRAINT [FK_IBT_Track]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Course] FOREIGN KEY([CID])
REFERENCES [dbo].[Course] ([CID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Course]
GO
ALTER TABLE [dbo].[Student]  WITH NOCHECK ADD  CONSTRAINT [FK_Student_Branch] FOREIGN KEY([BID])
REFERENCES [dbo].[Branch] ([BID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Branch]
GO
ALTER TABLE [dbo].[Student]  WITH NOCHECK ADD  CONSTRAINT [FK_Student_Intake] FOREIGN KEY([IntakeID])
REFERENCES [dbo].[Intake] ([IntakeID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Intake]
GO
ALTER TABLE [dbo].[Student]  WITH NOCHECK ADD  CONSTRAINT [FK_Student_Track] FOREIGN KEY([TID])
REFERENCES [dbo].[Track] ([TID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Track]
GO
ALTER TABLE [dbo].[Student_Course]  WITH CHECK ADD FOREIGN KEY([CID])
REFERENCES [dbo].[Course] ([CID])
GO
ALTER TABLE [dbo].[Student_Course]  WITH CHECK ADD FOREIGN KEY([SID])
REFERENCES [dbo].[Student] ([SID])
GO
ALTER TABLE [dbo].[student_exam]  WITH CHECK ADD FOREIGN KEY([EID])
REFERENCES [dbo].[Exam] ([EID])
GO
ALTER TABLE [dbo].[student_exam]  WITH CHECK ADD FOREIGN KEY([SID])
REFERENCES [dbo].[Student] ([SID])
GO
ALTER TABLE [dbo].[Track]  WITH NOCHECK ADD FOREIGN KEY([DID])
REFERENCES [dbo].[Department] ([DID])
GO
ALTER TABLE [dbo].[Track_Course]  WITH CHECK ADD FOREIGN KEY([CID])
REFERENCES [dbo].[Course] ([CID])
GO
ALTER TABLE [dbo].[Track_Course]  WITH CHECK ADD FOREIGN KEY([TID])
REFERENCES [dbo].[Track] ([TID])
GO
ALTER TABLE [dbo].[Exam]  WITH NOCHECK ADD  CONSTRAINT [CHK_ExamTime] CHECK  (([ETime]>[STime]))
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [CHK_ExamTime]
GO
ALTER TABLE [dbo].[Instructor]  WITH NOCHECK ADD CHECK  (([ISalary]>(5000)))
GO
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD  CONSTRAINT [CK_instructor_Email_ContainsAt] CHECK  (([iEmail] like '%@%'))
GO
ALTER TABLE [dbo].[Instructor] CHECK CONSTRAINT [CK_instructor_Email_ContainsAt]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD CHECK  (([Type]='text' OR [Type]='TF' OR [Type]='MCQ'))
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [CK_Student_Email_ContainsAt] CHECK  (([SEmail] like '%@%'))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [CK_Student_Email_ContainsAt]
GO
/****** Object:  StoredProcedure [dbo].[add_student]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[add_student]
@name varchar(100), @address nvarchar(255), @age int, @mail nvarchar(100),
@phone varchar(11), @intakeid int, @trackid int, @branchid int
as
begin
	if not exists (select 1 from Intake_Branch_Track
	where IntakeID=@intakeid and BID=@branchid and TID=@trackid)
		begin
			raiserror('This info about track, branch, intake isn''t correct',10,1)
			return
		end
	insert into Student(SName, SAddress, SAge, SEmail, SPhone, IntakeID, TID, BID)
	values(@name, @address, @age, @mail, @phone, @intakeid, @trackid, @branchid)
end
GO
/****** Object:  StoredProcedure [dbo].[addBranch]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[addBranch]
@Bname nvarchar(20)
as
begin
	insert into Branch(BName)
	values(@Bname)
end
GO
/****** Object:  StoredProcedure [dbo].[addIntake]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[addIntake]
@Intname varchar(20)
as
begin
	insert into Intake(InName)
	values(@Intname)
end
GO
/****** Object:  StoredProcedure [dbo].[addTrack]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[addTrack]
@tname varchar(20),
@Deptid int
as
begin
	if not exists (select 1 from Department where DID=@Deptid)
		begin
			raiserror('Department ID must exist',10,1)
			return
		end

	insert into Track(TName, DID)
	values(@tname, @Deptid)
end
GO
/****** Object:  StoredProcedure [dbo].[editBranch]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[editBranch]
@Bid int,
@Bname nvarchar(20)
as
begin
	if not exists(select 1 from Branch where BID=@Bid)
		begin
			raiserror('This branch doesn''t exist',10,1)
			return
		end
	update branch 
	set BName=@Bname where BID=@Bid
end
GO
/****** Object:  StoredProcedure [dbo].[editIntake]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[editIntake]
@Intid int,
@Intname varchar(20)
as
begin
	if not exists(select 1 from Intake where IntakeID=@Intid)
		begin
			raiserror('This intake doesn''t exist',10,1)
			return
		end
	update Intake 
	set InName=@Intname where IntakeID=@Intid
end
GO
/****** Object:  StoredProcedure [dbo].[editTrack]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[editTrack]
@Tid int,
@Deptid int,
@Tname varchar(20)
as
begin
	if not exists(select 1 from Track where TID=@Tid)
		begin
			raiserror('This Track doesn''t exist',10,1)
			return
		end
	if not exists (select 1 from Department where DID=@Deptid)
		begin
			raiserror('This department doesn''t exist',10,1)
			return
		end
	update Track 
	set TName=@Tname, DID=@Deptid
	where TID=@Tid
end
GO
/****** Object:  StoredProcedure [dbo].[InsAssignTextGrades]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[InsAssignTextGrades]
@questionid int,
@AssignedGrade int
as
begin
    declare @MaxDegree int
    select @MaxDegree = Qdegree
    from Exam_Question
    where qid = @questionid

    if @AssignedGrade>@MaxDegree or @AssignedGrade<0
        begin
        raiserror('Error, grade can''t be negative or larger than the maximum degree',10,1)
        return
    end

    update answer
    set qgrade= @AssignedGrade
    where qid = @questionid

end
GO
/****** Object:  StoredProcedure [dbo].[usp_Auto_Grade_Exam]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[usp_Auto_Grade_Exam]
	@SID int, @EID int
as
begin
	set nocount on;

	if not exists (select 1 from student where SID=@SID)
		throw 55001, 'Student not found',1;
	if not exists (select 1 from exam where EID=@EID)
		throw  55002,'Exam Not found',1;
	begin try
		begin tran
			update a set a.QGrade = dbo.fn_CalcAutoGrade(a.EID,a.QID,a.StudentAns)
			from answer a join Question q on q.QID =a.QID
			where a.SID =@SID and a.EID=@EID
			and lower(trim(q.Type)) in ('mcq','tf')
		commit
	end try
	begin catch
	 if @@TRANCOUNT >0 rollback;
	 throw;
	end Catch
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_Add_Question_Manual]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   proc [dbo].[usp_Exam_Add_Question_Manual]
	@EID int, @QID int, @QDegree int
as
begin
	set nocount on
	--Logics Check
	if @QDegree is null or @QDegree <= 0
		throw 51001, 'QDegree must be > 0',1;
	-- Check exam, question exist and question match with course of this exam
	if not exists (select 1 from Exam E join Question q on e.CID = q.CID
					where e.EID =@EID and q.QID =@QID) 
		Throw 51002, 'exam not found or question not found or this q doesnt belong to this course',1;
	--- Course max degree
	Declare @CourseMax int
	select @CourseMax = c.MaxDegree from Exam e join Course c on c.CID =e.CID
	where e.EID=@EID

	if @CourseMax is null
		throw 51003, 'Course max degree is not set',1;
	---old degree for this question in this course
	Declare @OldDeg int
	select @OldDeg =EQ.QDegree from Exam_Question EQ where eq.EID=@EID and EQ.QID =@QID;
	--- total degrees for this exam
	Declare @CurrentTotal int = dbo.fn_ExamTotalDegree(@EID)
	Declare @NewTotal int =@CurrentTotal - isnull(@olddeg,0) + @Qdegree;
	if @NewTotal >@CourseMax
		throw 51004, 'Total exam degree will exceed Course.MaxDegree',1;

	begin try
		begin tran
			update Exam_Question
			set QDegree =@QDegree where EID=@EID and QID =@QID;
			
			if @@ROWCOUNT =0 
				insert into Exam_Question (EID,QID,QDegree)
				Values (@EID,@QID,@QDegree)
			update exam
				set TotalDegree = dbo.fn_ExamTotalDegree(@EID)
				where EID =@EID
		commit
	end try
	begin catch
	if @@TRANCOUNT >0 rollback;
		throw;
	End Catch
End
GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_AssignStudent]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Exam_AssignStudent]
    @EID INT, @SID INT
AS
BEGIN
    SET NOCOUNT ON;
	 -- 1) Validate Exam
    IF NOT EXISTS (SELECT 1 FROM dbo.Exam WHERE EID = @EID)
        THROW 60001, 'Exam not found.', 1;
    -- 2) Validate Student
    IF NOT EXISTS (SELECT 1 FROM dbo.Student WHERE SID = @SID)
        THROW 60002, 'Student not found.', 1;
    -- 3) Check if already assigned
    IF EXISTS (SELECT 1 FROM dbo.student_exam WHERE EID=@EID AND SID=@SID)
        THROW 60003, 'Student already assigned to this exam.', 1;

    BEGIN TRY
        BEGIN TRAN;

            -- Insert assignment (ExamGrade NULL initially)
            INSERT INTO dbo.student_exam (SID, EID, ExamGrade)
            VALUES (@SID, @EID, NULL);

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_Create]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[usp_Exam_Create]
	@CID int, @IID int, @intakeID int, @ExamDate date=null, @STime time(7), @ETime time(7),
	@type varchar(20)=null,@TID int=null,@BID int=null, @allowoptions varchar (50)=null, @NewEID int output
as
begin
	set nocount on
	-- first check the inserted time
	if @STime is null or @ETime is null or @ETime <=@Stime
		Throw 50001, 'Invalid Exam time Window (Etime must be > STime)',1;
	-- Second check the instructor is assgined
	if not exists(select 1 from Instructor_Course IC where IC.IID = @IID and IC.CID=@CID)
		Throw 50002, 'Instructor is not assigned to this course',1;
	-- Check Course, intake, Track, and branch ared existed
	if not exists(select 1 from Course c where c.CID= @CID)
		Throw 50003, 'Course doesnt exist',1;
	if not exists(select 1 from Intake i where i.IntakeID=@intakeID)
		Throw 50004, 'Intake is not existed',1;
	if @TID is not null and not exists(select 1 from Track T where t.TID =@TID)
		Throw 50005, 'Track is not existed',1;
	if @BID is not null and not exists(select 1 from Branch b where b.BID=@BID)
		Throw 50006, 'Branch not existed',1;
	--insert with trans to apply atmicity 'All or Not'
	begin try
		begin tran
			insert into Exam 
			(CID,IID,IntakeID,ExamDate,Type,STime,ETime,TotalDegree,TID,BID,allowoptions)
			Values
			(@CID,@IID,@intakeID,@ExamDate,@type,@STime,@ETime,0,@TID,@BID,@allowoptions)
			set @NewEID = convert(int,SCOPE_IDENTITY());
		commit
	end try
	begin catch
		if @@TRANCOUNT > 0 rollback;
		Throw
	End Catch
End
GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_GenerateQuestions_Random]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[usp_Exam_GenerateQuestions_Random]
	@EID int, @MCQ_Count int=0,@TF_Count int =0, @Text_Count int=0, @DefaultQDegree int =1
as
begin
	set nocount on;
	if @MCQ_Count < 0 or @Text_Count <0 or @TF_Count <0 
		throw 52001, 'counts must be >= 0 ',1;
	if @DefaultQDegree is null or @DefaultQDegree <=0
		throw 52002, 'Default degree must be >0',1
	if not exists (select 1 from Exam e where e.EID =@EID)
		throw 52003, 'Exam Not Found',1

	Declare @CID int, @CourseMax int
	select @CID =e.CID, @CourseMax =c.MaxDegree
	from Exam e join Course c on c.CID=e.CID where e.EID =@EID

	if @CourseMax is null
		throw 52004, 'Course Max Degree is not set', 1;

	Declare @CurrentTotal int = dbo.fn_ExamTotalDegree(@EID)
	if @CurrentTotal +(@MCQ_Count+@Text_Count+@TF_Count)*@DefaultQDegree >@CourseMax
		throw 52005, 'Would Exceed Course.MaxDegree',1
	
	if @MCQ_Count >(select count(*) from Question q where q.CID = @CID and LOWER(TRIM(type)) ='mcq'
					and not exists (select 1 from Exam_Question eq where eq.EID =@EID and eq.QID =q.QID)
					)
		or @TF_Count >(select count(*) from Question q where q.CID = @CID and LOWER(TRIM(type)) ='TF'
					and not exists (select 1 from Exam_Question eq where eq.EID =@EID and eq.QID =q.QID)
					)
		or @Text_Count >(select count(*) from Question q where q.CID = @CID and LOWER(TRIM(type)) ='text'
					and not exists (select 1 from Exam_Question eq where eq.EID =@EID and eq.QID =q.QID)
					)
			Throw 52006, 'Not enogh Questions Available',1;
	begin try
	begin tran
		insert into  Exam_Question (EID,QID,QDegree)
		select @EID,x.QID,@DefaultQDegree
		from(
			select top (@MCQ_Count) q.qid from Question q where q.CID =@CID and lower(trim(q.type)) ='mcq'
			and not exists (select 1 from Exam_Question EQ where eq.EID=@EID and eq.QID =q.QID
			)
			order by NEWID()
			union all
			select top (@tf_Count) q.qid from Question q where q.CID =@CID and lower(trim(q.type)) ='tf'
			and not exists (select 1 from Exam_Question EQ where eq.EID=@EID and eq.QID =q.QID
			)
			order by newid()
			union all
			select top (@Text_Count) q.qid from Question q where q.CID =@CID and lower(trim(q.type)) ='text'
			and not exists (select 1 from Exam_Question EQ where eq.EID=@EID and eq.QID =q.QID
			)
			order by NEWID()
			)as x;

			update exam 
			set TotalDegree = dbo.fn_ExamTotalDegree(@EID)
			where EID =@EID
		commit
	end try
	begin catch
		if @@TRANCOUNT >0 rollback;
			throw;
	end catch
end;
------
GO
/****** Object:  StoredProcedure [dbo].[usp_Question_Add]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[usp_Question_Add]
	@CID int, @type char(5), @QuestionText NVarchar(max),@CorrectAnswer Varchar(100) = null,
	@Choice1 NVarchar (100)= null,@Choice2 NVarchar (100)= null,@Choice3 NVarchar (100)= null,
	@Choice4 NVarchar (100)= null, @NewQID int Output
as
begin
	set nocount on;
	
	if not exists(select 1 from Course where CID=@CID)
		throw 50011, 'Course not found',1
	if @QuestionText is null or trim(@QuestionText) = ''
		throw 50012, 'Question Text is Required', 1;
	
	declare @t Varchar (50)= lower(trim(convert(Varchar(10), @type)));
	if @t not in ('mcq','tf','text')
		throw 50013, 'Invalid question type. Allowed MCQ,TF,Text',1;

	if @t = 'mcq'
	begin
		if @Choice1 is null or @Choice2 is null or @Choice3 is null or @Choice4 is null
			throw 50014, 'MCQ requires 4 choices',1;
		if @CorrectAnswer is null or trim(@CorrectAnswer)=''
			throw 50015, 'MCQ requires Correct Answer',1;
		if convert(nvarchar(100),@CorrectAnswer) not in (@Choice1,@Choice2, @Choice3, @Choice4)
			throw 50016, 'MCQ Correct Ans must match one of the provided Choices',1;
	end
	else if @t= 'tf'
	begin
		if @CorrectAnswer is null or upper(trim(@CorrectAnswer)) not in ('T','F')
			throw 50017, 'Correct Answer must be T or F',1;
		set @Choice1=null; set @Choice2=null; set @Choice3=null; set @Choice4=null;
		set @CorrectAnswer=upper(trim(@CorrectAnswer))
	end
	else
	begin
		set @Choice1=null; set @Choice2=null; set @Choice3=null; set @Choice4=null;
		set @CorrectAnswer=''
	end
	begin try
		begin tran
			insert into Question (CID,QuestionText,CorrectAns,[Type],Choice1,Choice2,Choice3,Choice4)
			Values(@CID,@QuestionText,@CorrectAnswer,@type,@Choice1,@Choice2,@Choice3,@Choice4);
			set @NewQID = CONVERT(int,SCOPE_IDENTITY());
		commit
	end try
	begin catch
	if @@TRANCOUNT >0 rollback;
		throw;
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Question_Update]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[usp_Question_Update]
	@QID int,@CID int, @type char(5), @QuestionText NVarchar(max),@CorrectAnswer Varchar(100) = null,
	@Choice1 NVarchar (100)= null,@Choice2 NVarchar (100)= null,@Choice3 NVarchar (100)= null,
	@Choice4 NVarchar (100)= null
as
begin
	set nocount on;

	if not exists(select 1 from question where QID=@QID)
		throw 50020, 'Question Not Found',1
	if not exists(select 1 from Course where CID=@CID)
		throw 50011, 'Course not found',1
	if @QuestionText is null or trim(@QuestionText) = ''
		throw 50012, 'Question Text is Required', 1;
	
	declare @t Varchar (50)= lower(trim(convert(Varchar(10), @type)));
	if @t not in ('mcq','tf','text')
		throw 50013, 'Invalid question type. Allowed MCQ,TF,Text',1;

	if @t = 'mcq'
	begin
		if @Choice1 is null or @Choice2 is null or @Choice3 is null or @Choice4 is null
			throw 50014, 'MCQ requires 4 choices',1;
		if @CorrectAnswer is null or trim(@CorrectAnswer)=''
			throw 50015, 'MCQ requires Correct Answer',1;
		if convert(nvarchar(100),@CorrectAnswer) not in (@Choice1,@Choice2, @Choice3, @Choice4)
			throw 50016, 'MCQ Correct Ans must match one of the provided Choices',1;
	end
	else if @t= 'tf'
	begin
		if @CorrectAnswer is null or upper(trim(@CorrectAnswer)) not in ('T','F')
			throw 50017, 'Correct Answer must be T or F',1;
		set @Choice1=null; set @Choice2=null; set @Choice3=null; set @Choice4=null;
		set @CorrectAnswer=upper(trim(@CorrectAnswer))
	end
	else
	begin
		set @Choice1=null; set @Choice2=null; set @Choice3=null; set @Choice4=null;
		set @CorrectAnswer=''
	end
	begin try
		begin Tran
			update Question
			set CID=@CID, [Type]=@type, QuestionText=@QuestionText,CorrectAns=@CorrectAnswer,
			Choice1=@Choice1, Choice2=@Choice2,Choice3=@Choice3,Choice4=@Choice4
			where QID=@QID
			if @@ROWCOUNT =0 
				throw 50021, 'Question not updated',1;
		commit
	end try
	begin catch
		if @@TRANCOUNT >0 rollback;
		throw;
	end catch
end

GO
/****** Object:  StoredProcedure [dbo].[usp_RecalcCourseGrades_LatestExam]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_RecalcCourseGrades_LatestExam]
  @CID INT
AS
BEGIN
  SET NOCOUNT ON;

  IF NOT EXISTS (SELECT 1 FROM dbo.Course WHERE CID=@CID)
    THROW 62101, 'Course not found.', 1;

  BEGIN TRY
    BEGIN TRAN;

    UPDATE sc
    SET sc.Grade =
        ISNULL(
            (
                SELECT TOP (1) se.ExamGrade
                FROM dbo.student_exam se
                JOIN dbo.Exam e ON e.EID = se.EID
                WHERE se.SID = sc.SID
                  AND e.CID = sc.CID
                  AND se.ExamGrade IS NOT NULL
                ORDER BY e.ExamDate DESC, e.STime DESC
            ),
            0
        )
    FROM dbo.Student_Course sc
    WHERE sc.CID = @CID;

    INSERT INTO dbo.Student_Course (SID, CID, Grade)
    SELECT DISTINCT
        se.SID,
        e.CID,
        ISNULL(
            (
                SELECT TOP (1) se2.ExamGrade
                FROM dbo.student_exam se2
                JOIN dbo.Exam e2 ON e2.EID = se2.EID
                WHERE se2.SID = se.SID
                  AND e2.CID = e.CID
                  AND se2.ExamGrade IS NOT NULL
                ORDER BY e2.ExamDate DESC, e2.STime DESC
            ),
            0
        ) AS Grade
    FROM dbo.student_exam se
    JOIN dbo.Exam e ON e.EID = se.EID
    WHERE e.CID = @CID
      AND NOT EXISTS
      (
          SELECT 1
          FROM dbo.Student_Course sc
          WHERE sc.SID = se.SID
            AND sc.CID = e.CID
      );

    COMMIT;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK;
    THROW;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_RecalcStudentCourseGrade_LatestExam]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_RecalcStudentCourseGrade_LatestExam]
  @SID INT,
  @CID INT
AS
BEGIN
  SET NOCOUNT ON;

  IF NOT EXISTS (SELECT 1 FROM dbo.Student WHERE SID=@SID)
    THROW 62001, 'Student not found.', 1;

  IF NOT EXISTS (SELECT 1 FROM dbo.Course WHERE CID=@CID)
    THROW 62002, 'Course not found.', 1;

  DECLARE @LatestGrade INT;

  SELECT @LatestGrade =
  (
      SELECT TOP (1) se.ExamGrade
      FROM dbo.student_exam se
      JOIN dbo.Exam e ON e.EID = se.EID
      WHERE se.SID = @SID
        AND e.CID = @CID
        AND se.ExamGrade IS NOT NULL
      ORDER BY e.ExamDate DESC, e.STime DESC
  );

  SET @LatestGrade = ISNULL(@LatestGrade, 0);

  BEGIN TRY
    BEGIN TRAN;

      IF EXISTS (SELECT 1 FROM dbo.Student_Course WHERE SID=@SID AND CID=@CID)
        UPDATE dbo.Student_Course
          SET Grade = @LatestGrade
        WHERE SID=@SID AND CID=@CID;
      ELSE
        INSERT INTO dbo.Student_Course(SID,CID,Grade)
        VALUES(@SID,@CID,@LatestGrade);

    COMMIT;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK;
    THROW;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_RecalcStudentExamSnapshot]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[usp_RecalcStudentExamSnapshot]
 @SID int, @EID int 
 as
 begin
 set nocount on
	if not exists (select 1 from Student where SID =@SID)
		throw 56001, 'Student not found',1
	if not exists (select 1 from Exam where EID=@EID)
		throw 56002, 'Exam not found',1
	Declare @Total int
	select @Total = sum(isnull(QGrade,0))
	from Answer where SID =@SID and EID =@EID

	set @Total = ISNULL(@Total,0)

	begin try
		begin tran
			if exists (select 1 from student_exam where SID=@SID and EID=@EID)
			begin
				update student_exam
				set ExamGrade = @Total
				where SID =@SID and EID = @EID
			end
			else
			begin
				insert into student_exam (SID, EID, ExamGrade)
				Values (@SID, @EID, @Total)
			end
		commit
	end try
	begin catch
		if @@TRANCOUNT >0 rollback;
		Throw;
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[usp_RecalcTotalDegree]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[usp_RecalcTotalDegree]
	@EID int
as
begin
	set nocount on
	
	if not exists (select 1 from Exam where EID =@EID)
		throw 53001, 'Exam Not Found',1
	update exam
	set TotalDegree = dbo.fn_ExamTotalDegree(@EID)
	Where EID = @EID
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_SubmitAnswer]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[usp_Student_SubmitAnswer]
	@EID int, @SID int , @QID int, @StudentAnswer varchar (max)
as
begin
	set nocount on

	if not exists (select 1 from student where SID= @SID)
		Throw 54001,'Student not found',1;
	if not exists (select 1 from Exam where EID=@EID)
		Throw 54002,'Exam not found',1;
	if not exists (select 1 from Exam_Question where EID=@EID and QID= @QID)
		Throw 54003,'Qusetion is not part of this exam',1;

	Declare @AutoGrade int = dbo.fn_CalcAutoGrade(@EID,@QID,@StudentAnswer)

	begin try
		begin tran
			if exists(select 1 from Answer where SID=@SID and EID=@EID and QID =@QID)
			begin
				update Answer
				set StudentAns =@StudentAnswer, QGrade =@AutoGrade
				where sid=@SID and EID=@EID and QID =@QID
			end
			else
			begin
				insert into Answer (SID, EID,QID,StudentAns,QGrade)
				Values(@SID,@EID,@QID,@StudentAnswer,@AutoGrade);
			end
		commit;
	end try
	begin catch
		if @@TRANCOUNT >0 rollback;
		throw;
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_SubmitExam]    Script Date: 22/02/2026 01:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[usp_Student_SubmitExam]
	@SID int, @EID int, @RequireAllAnswers bit =1
as
begin
	set nocount on;

	if not exists (select 1 from Student where SID =@SID)
		throw 56001, 'Student not found',1
	if not exists (select 1 from Exam where EID=@EID)
		throw 56002, 'Exam not found',1
	
	if @RequireAllAnswers =1
	begin
		declare @TotalQs int, @AnsweredQs int
		select @TotalQs = count(*)
		from Exam_Question where EID=@EID

		select @AnsweredQs = COUNT(*)
		from Answer where SID = @SID and EID=@EID

		if ISNULL(@TotalQs,0) =0
			throw 57001, 'Exam has no Questions',1
		if isnull (@AnsweredQs,0) < @TotalQs
			throw 57002, 'Not all question are answered',1
	end
	begin try
		begin tran
			Exec dbo.usp_Auto_Grade_Exam @SID=@SID, @EID=@EID
			Exec dbo.usp_RecalcStudentExamSnapshot @SID=@SID, @EID=@EID
		commit
	end try
	begin catch
		if @@TRANCOUNT > 0 Rollback;
			throw;
	end catch
end
GO
USE [master]
GO
